/********** Root Style **********/
:root {
  /* 1. color */
  /* 2. font-size */
  /* 3. element interval */
 
 
  /* Color */
  --color-top: #e4efe8;
  --color-hero: #f7f0e3;
  --color-point: #fecfd7;
 
 
  /* Font Size */
  --fs-big: 3.375rem;
  --fs-middle: 2.1875rem;
  --fs-small: 0.75rem;
  --fs-nav: 0.875rem;
  --fs-title: 3.125rem;
  --fs-product: 1rem;
 
 
  /* Elements Interval */
  --el-section: 4.6875rem;
  --el-t-section: 2.8125rem;
  --el-m-section: 1.25rem;
  --el-small: 1rem;
  --el-middle: 1.875rem;
  --el-wide: 2.5rem;
  --el-title: 2.5rem;

 }

 /********** Common Style **********/
 .wrapper{
  width:100%;
  height:auto;
  overflow:hidden; /*가로 스크롤 방지*/
 }
.page-interval{
  padding:0 1.25rem;
}

.narrow-center{
  width: 100%;
  max-width: 1320px;
  margin: auto;
  height:auto;
  padding: 0 20px;
}

.wide-center{
  width: 100%;
  max-width: 980px;
  margin: auto;
  height:auto;
  padding: 0 20px;

}

.section-padding{
  padding:var(--el-section) 0;
}

/*********Common Button Style********/
 .button-box{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:3.75rem;
 }

 .common-btn{
  font-size:.875rem;
  font-weight:400;
  padding:.875rem 1.5625rem; 
  color:#000;
  border:1px solid #000;
  display:flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  column-gap: .5rem;
  transition: all  .4s;
 }

 .common-btn:hover{
  background:#000;
  color:#fff;

 }

 .white{
  display:none;
 }

  /********** Common Section Title **********/
.title-box{
  width:100%;
  height:auto;
  text-align:center;
}

.title-box .title-label{
  position:relative;
  display:inline-block;
}

.title-box .label-text{
  color:#000;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-point);
    padding: 4px 15px;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 150%;
    display: inline-block;
   }
   
.title-box .circle-effect{
  width:10px;
  height:10px;
  background:var(--color-point);
  position:absolute;
  left:-10px;
  top:-10px;
  border-radius: 50%;
  border-bottom-right-radius: 0;
}

.title-box h2{
  color:#000;
  margin-bottom: 0.625rem;
  font-size: 3.125rem;
  font-weight: 100;
  line-height: 150%;
}


.review .narrow-center{
  position:relative;
}

.review .review-text p{
  width:100%;
  max-width:80%;
  color:#333;
  text-align: left;
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 150%;
}

