/* Top Bar Style */
.top-bar .page-interval{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-top);
  color:#333;
  font-size: var(--fs-small);
  font-weight:300;
}

.top-bar .company-info{
  padding:0.875rem 0;
}

.top-bar .company-info span{
  position:relative;
  padding-right: .5rem;
  margin-right: .5rem;
}

.top-bar .company-info span:after{  
  content:'';
  width: 1px;
  height: 50%;
  background: #333;
  position: absolute;
  right:0;
  top:50%;
  transform: translateY(-50%);
}

/* Navigation Style */
nav{
  width:100%;
  height:auto;
  padding: 1.125rem 0;
  border-bottom: 1px solid #efefef;
}

nav .page-interval{
  display:flex;
  justify-content: space-between;
  position: relative;
}

nav .navi{
  display:flex;
  column-gap:2.375rem;
}

nav .navi a{
  font-size:var(--fs-nav);
  text-transform: uppercase; /*대문자, capitalize : 첫 글자 대문자, lowercase : 소문자*/
  font-weight: 400;
}

nav .logo{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
} /*flex요소에서 벗어난 것*/

nav .cart{
  position: relative;
}

nav .cart em{
  position:absolute;
  width:18px;
  height:18px;
  font-size:.625rem;
  color:#fff;
  background:#000;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:50%;
  top:-5px;
  right:-5px;
}

/* Hero Sections Style */
.hero .page-interval{
  display:flex;
}

.hero .page-interval > div{
  width:50%;
  background: var(--color-hero);
}

.hero .page-interval .right-box > img{
  width:100%;

}