/* 1280px */
@media screen and (max-width:1280px){
  nav .navi{
    order:2;  
}

nav .logo{
  position: static;
  order:1;
  transform:translate(0,0);
}

nav .cart{
  order:3;
}

}
/* 980px */

@media screen and (max-width:980px){
  .top-bar{
    display: none;
  }

  .section-padding{
    padding:var(--el-t-section) 0;
  }

  .title-box h2{
    font-size: 2.5rem;
  }

  nav .menu-icon{
    display: block;
  }

  nav .navi{
    position:absolute;
    top:calc(100% + 1.125rem);
    z-index:9999;
    width:100%;
    background: #fff;
    flex-direction: column;
    left:0;
    height:0;
    overflow:hidden;
    transition: all .4s;
  }

  nav .navi a{
    width:100%;
    padding:1rem 1.25rem;
    display: inline-block;
    transition: all .4s;
  }

  nav .navi a:hover{
    background: #000;
    color:#fff;
  }

  .hero .page-interval{
    flex-direction: column;
  }

  .hero .page-interval > div{
    width: 100%;
  }

  .hero .hero-text-box{
    padding:4.375rem;
    overflow:hidden;
    position: relative;
  }

  .hero .hero-text-box h1{
    font-size: 2.875rem;
  }

  .story .story-text{
    font-size: 1.875rem;
  }


  .best .best-products-box,
  .latest .latest-products-box{
    flex-wrap: wrap;
    row-gap: 3.125rem;
  }

  .best .best-product-list, 
  .latest .latest-product-list{
    width: calc(33.33% - .75rem);
  }

  .featured .featured-box{
    flex-wrap: wrap;
    padding: 3.75rem;
    row-gap: 1.25rem;
  }

  .featured .featured-list{
    width: 50%;
  }

  .join .wide-center{
    justify-content: space-evenly;
  }


.category .category-text h4{
  font-size: 1.25rem;
}

.review{
  padding:3.75rem 0;
}


.review .review-text p{
  font-size: 1.875rem;
  max-width:100%;
}

footer .footer-upper .footer-left{
  width:45%;
}

footer .footer-left h3{
  font-size:1.25rem;
}


}

/*End of 980*/

/* 768px */
@media screen and (max-width:768px){
  html, body{
  font-size:87.5%;
  }

  .best .best-product-list, 
  .latest .latest-product-list{
    width: calc(50% - .5rem);
  }

  .join .wide-center{
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .join .wide-center > div {
    width: 80%;
  }

  .join .line{
    width: 100%;
    height: 1px;
    max-width: 80%;
  }

  .category .category-box{
    flex-wrap: wrap;
    row-gap: 1.875rem;
  }

  .category .category-list{
    width: calc(50% - .9375rem);
  }


  .insta .insta-lists{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1px;
  }

  footer .footer-upper{
    flex-direction: column;
    row-gap:2.5rem;
  }

  footer .footer-upper .footer-left, footer .footer-right{
    width:100%;
    flex-wrap:wrap;
    row-gap:1.875rem;
  }

  footer .footer-right ul{
    width: 50%;
  }

  footer .footer-right ul li a{
    font-size:1rem;
  }
}
  





/*end of 768*/

/* 480px */

@media screen and (max-width:480px){

  .section-padding{
    padding:var(--el-m-section) 0;
  }

  .title-box{
    padding: .875rem 0;
  }

  .title-box h2{
    font-size: 1.875rem;
  }


  .logo img{
    width: 90px;

  }
 .hero .hero-text-box{
  padding: 4rem 1.25rem;
 }

 .hero .hero-text-box h1{
  font-size: 2.125rem;
 }

 .hero .left-box > img{
  display: none;
 }

 .story .story-text{
  font-size: 1.5rem;
 }

 .story .story-right p{
  font-size:.9375rem;
 }

 .featured .featured-box {
  padding:2.5rem 0;
 }

 .feature .featured-list{
  width:100%;
 }

 .join .wide-center > div{
  width:100%;
 }

 .category .category-list{
  width:100%;
}

 .review .review-text p{
  font-size:1.5rem;
}

.insta .insta-lists{
  grid-template-columns: repeat(2, 1fr);
}


}

/*end of 480*/
